a{
    text-decoration: none;
    color: #272727;
}

.navBar {
    font-weight: 400;
    font-family: 'Raleway';
    margin-top: 3%;
    position: absolute;
    left: 80%;
}

.social{
    position: absolute;
    margin-top: 5%;
    left: 90%;
}

.title
{
    color: black;
    font-family: 'Raleway';
    font-weight: bold;
    font-size:45px;
    margin-top: 7%;

}

.subtitle{
    color: black;
    font-family: 'Raleway';
    font-size:20px;
    font-weight: bold;
}

.rol{
    font-family: 'Open sans';
    font-weight: 300;
    color: rgb(0, 201, 124);
}

.info {
    font-family: 'Open sans';
    font-weight: 300;
    margin-bottom: 1%;
}