a{
    text-decoration: none;
    color: #272727;
}

.navBar {
    font-weight: 400;
    font-family: 'Raleway';
    margin-top: 3%;
}

.social{}

.title
{
    color: black;
    font-family: 'Raleway';
    font-weight: bold;
    font-size:45px;

}

.subtitle{
    color: black;
    font-family: 'Raleway';
    font-size:20px;
    font-weight: bold;
}

.rol{
    font-family: 'Open sans';
    font-weight: 300;
    color: rgb(0, 201, 124);
}